<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./login.css" />
</head>
<body>
    <div class="Header-Container">
        <H1 align="center">Todo List</H1>
    </div>
    <div class="login_wrap">
        <form class="container-form">
            
            <div class="header">Login</div> 
                <input type="text" placeholder="User" id="userName" name="email">
                <input type="password" placeholder="Secret code" id="password" name="password">
                <a     href="./index.html" type="submit"> entrar</a>      
                <a  href="./parrafo.html" type="submit"> ver ejemplo de paso mensajes</a>              
        </form>
        
    </div>
</body>
</html>